<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/phrases">
        All Phrases
      </a>
    </div>
    <div class="pull-right">
      <a href="/phrases/new" class="btn btn-default navbar-btn">New Phrase</a>
    </div>
  </div>
</nav>
