<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/users">
        All Users
      </a>
    </div>
    <div class="pull-right">
      <a href="/users/new" class="btn btn-default navbar-btn">New User</a>
    </div>
  </div>
</nav>
