<fieldset>
  <legend>New Phrase</legend>
  <p>
    <label for="phrase-title">Title</label><br>
    <input id="phrase-title" type="text" name="title" />
  </p>
  <p>
    <label for="phrase-content">Content</label><br>
    <input id="phrase-content" type="text" name="content" />
  </p>
</fieldset>
