<fieldset>
  <legend>Phrase:</legend>
  <p>
    <label for="phrase-title">Title</label><br>
    <input id="phrase-title" type="text" name="title" />
  </p>
  <p>
    <label for="phrase-content">Content</label><br>
    <input id="phrase-content" type="text" name="content" />
  </p>
  <p>
    <label for="phrase-category">Category</label><br />
    <select name="category">
      <option value="Eating Out">Eating out</option>
      <option value="Getting Around">Getting around</option>
      <option value="Essentials">Essentials</option>
      <option value="Emergencies">Emergencies</option>
      <option value="Responses">Responses</option>
      <option value="Other">Other</option>
    </select>
  </p>
</fieldset>
