<fieldset>
  <legend>New User</legend>
  <p>
    <label for="user-name">Name</label><br>
    <input id="user-name" type="text" name="name" />
  </p>
  <p>
    <label for="user-bio">Bio</label><br>
    <input id="user-bio" type="text" name="bio" />
  </p>
</fieldset>
