<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1>All Categories</h1>
    <div class="categories">
      <div class="category-card">
        <h2 class="phrase-category"><a href="/categories/Eating%20Out">Eating Out</a></h2>
        <h2 class="phrase-category"><a href="/categories/Getting%20Around">Getting Around</a></h2>
        <h2 class="phrase-category"><a href="/categories/Essentials">Essentials</a></h2>
        <h2 class="phrase-category"><a href="/categories/Emergencies">Emergencies</a></h2>
        <h2 class="phrase-category"><a href="/categories/Responses">Responses</a></h2>
        <h2 class="phrase-category"><a href="/categories/Other">Other</a></h2>
      </div>
    </div>
    
  </div>
</div>
