<!-- <h1>Welcome to Our Interactive Phrasebook For The Hard Of Hearing</h1> -->

<!-- <h2><a href="/categories">See All Categories</a></h2> -->
<!-- <h2><a href="/phrases">See All Phrases</a></h2> -->
<!-- <h2><a href="/users">See All Users</a></h2> -->


<!-- Page Heading -->
<!-- <h1 class="my-4">Welcome!
  <small>Our Interactive Phrasebook For The Hard Of Hearing</small>
</h1> -->

<div class="top-text">
  <h1>Welcome</h1>
  <h3>Our Interactive Phrasebook For The Hard Of Hearing</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/w3images/lights.jpg">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="" style="width:100%">
        <div class="caption">
          <h2><a href="/phrases">See All Phrases</a></h2>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="/w3images/nature.jpg">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="" style="width:100%">
        <div class="caption">
          <h2><a href="/categories">See All Categories</a></h2>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- /.row -->
