<h1>Welcome to Our Interactive Phrasebook For The Hard Of Hearing</h1>

<h2><a href="/categories">See All Categories</a></h2>
<h2><a href="/phrases">See All Phrases</a></h2>
<!-- <h2><a href="/users">See All Users</a></h2> -->
