<h1>Phrases</h1>

<a href="/phrases/new">New Phrase</a>

<div class="phrases">
  <div class="phrase-card">
    {{#each phrases}}
      <h2 class="phrase-title"><a href="/phrases/{{this._id}}">{{this.title}}</a></h2>
      <small>{{this.content}}</small>
    {{/each}}
  </div>
</div>
