<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/phrases/{{phrase._id}}?_method=PUT">

      {{> phrases-form}}

      <!-- BUTTON -->
      <p>
        <button type="submit">Save Phrase</button>
      </p>
    </form>
  </div>
</div>
