<!-- <div class="row"> -->
  <!-- <div class="panel panel-default col-lg-12"> -->
    <form method="POST" action="/phrases">
      {{> phrases-form}}

      <!-- BUTTON -->
      <p>
      <br>
      <button type="submit" class="btn btn-primary my-1">Save Phrase</button>
      </p>

    </form>
  <!-- </div> -->
<!-- </div> -->
