<div class="row">
  <a href="/categories">Back To All Categories</a>
</div>

<!-- <h1>Phrases</h1> -->

<!-- <div class="row">
  <a href="/phrases/new">New Phrase</a>
</div> -->

<div class="row phrases">
  <div class="phrase-card">
    {{#each phrases}}
      <div class="panel panel-default col-sm-3">
        <h2 class="phrase-title"><a href="/phrases/{{this._id}}">{{this.title}}</a></h2>
        <small>{{this.content}}</small>
      </div>
    {{/each}}
  </div>
</div>
