@font-face {
  font-family: 'Avenir';
  src: url("http://localhost:3000/fonts/Avenir.ttc");
}

@font-face {
  font-family: 'Playfair';
  src: url("http://localhost:3000/fonts/PlayfairDisplay-BoldItalic.ttf");
}

@font-face {
  font-family: 'Avenir Next';
  src: url("http://localhost:3000/fonts/Avenir Next.ttc");
}

/* For Brand Name Text */
@font-face {
  font-family: 'Pacifico';
  src: url("http://localhost:3000/fonts/Pacifico-Regular.ttf");
}

.navbar {
  border-radius: 0;
  margin-bottom: 100px;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  /* background-color: #505050; */
  padding: 0.1% 0;
  padding-bottom: 100px:
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 2;
}

/* For when you scroll code  */
.navbar.scrolled {
  background-color: black;
  background: black;
  border-color: black;
}

.navbar-header {
  margin-top: 0px;
}

.navbar-brand h1 {
  float: left;
  text-transform: uppercase;
  /* transform: translateY(-50%); */
  /* color: #2b333e !important; */
  color: #84dcc6;
  font-family: 'Pacifico';
  font-size: 40px;
}

.navbar-brand:hover {
  color: #34728d !important;
}


.nav.navbar-nav.navbar-right li a {
  color: #34728d;
  font-size: 1.2em;
  font-family: 'Avenir';
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  text-decoration: line-through;
  color: #34728d;
}

.top-text {
  font-family: 'Playfair';
  text-align: center;
  /* padding-top: 100px; */
  margin-bottom: 50px;
}
.top-text h2 {
  color: #34728d;
}
.top-text h3 {
  color: #34728d;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 25px;
}
.centered a{
  color: #f1863e;
  font-size: 40px;
}
.centered a:hover {
  text-decoration: line-through;
  color: #34728d;
}

.thumbnail img {
  filter: saturate(0);
}

.thumbnail img:hover {
  filter: saturate(1);
}
