@font-face {
  font-family: 'Avenir';
  src: url("fonts/Avenir.ttc");
}

@font-face {
  font-family: 'Playfair';
  src: url("fonts/PlayfairDisplay-BoldItalic.ttf");
}

@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/Avenir Next.ttc");
}

/* body {
  font-family: 'Avenir';
} */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  color: #2b333e;
  padding: 0.1% 0;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  z-index: 2;
}

/* For when you scroll code  */
.navbar.scrolled {
  background-color: black;
  background: black;
  border-color: black;
}

.navbar-header {
  margin-top: 0px;
}

.navbar-brand {
  float: left;
  text-transform: uppercase;
  /* transform: translateY(-50%); */
  color: #2b333e !important;
  font-family: 'Avenir';
  font-size: 1.2em;
}

.navbar-brand:hover {
  color: #2b333e !important;
}

.navbar-brand.scrolled:hover {
  color: #8796ab !important;
}

.nav.navbar-nav.navbar-right li a {
  color: #2b333e;
  font-size: 1.2em;
  font-family: 'Avenir';
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  text-decoration: line-through;
  color: #2b333e;
}

.navbar-inverse .navbar-nav.scrolled>li>a:hover, .navbar-inverse .navbar-nav.scrolled>li>a:focus {
  text-decoration: line-through;
  color: #8796ab;
}


.top-text {
  font-family: 'Playfair';
  text-align: center;
  /* padding-top: 100px; */
  margin-bottom: 50px;
}
